.searchContainer {
    height: 5rem;
    background-color:var(--red-dark);
    display: flex;
    justify-content:center;
    align-items:center;
}

form {
    display: flex;
    width: var(--view-width);
    max-width: var(--max-width);
    gap: 0.5rem;
    flex-wrap: wrap;
}

.formInput {
    outline: none;
    padding: 0.375rem 0.75rem;
    max-width: 200px;
    border: 1px solid var(--grey-200);
    border-radius: var(--borderRadius);
    background: var(--backgroundColor);
}

::placeholder {
    font-family: inherit;
    color: var(--grey-400);
}

.btn {
    font-size: 0.75rem;
    /* color: var(--grey-200); */
    /* background-color: var(--red-dark); */
    /* border-radius: 1px solid var(--grey-200); */
    padding: 5px 8px;
}