.wrapper {
    color: #fff;
    background-color: #000;
    width: 100%;
    overflow: hidden;
}

.navContainer {
    padding: 0 6px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.heroContainer {
    display: flex;
    justify-content: center;
    align-items:start;
    background-color: #000;
}

.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: #000;
    padding: 0 6px;
}

.boxWidth {
    width: 100%;
}

/* sm */
@media (min-width: 640px) {
    .navContainer, .bodyContainer {
        padding: 0 1rem;
    }

}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {
    .boxWidth {
        max-width: 80rem;
    }
}

/* 2xl */
@media (min-width: 1536px) {}